.field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #332C23;
}

.row {
    display: flex;
    flex-direction: row;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hit {
    background-color: #88527F;
    pointer-events: none;
}

.miss {
    background-color: #B1DDF1;
    pointer-events: none;
}
