.field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:50px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #52483b;
}

.row {
    display: flex;
    flex-direction: row;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hit {
    background-color: #88527F;
    pointer-events: none;
}

.miss {
    background-color: #B1DDF1;
    pointer-events: none;
}

#shipcontainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ship {
    display:flex;
    height: 50px;
}

#carrier { 
    width: 250px;
    background-color: #b1ddf1;
}

#battleship { 
    width: 200px;
    background-color: #9f87af;
}

#cruiser { 
    width: 150px;
    background-color: #88527f;
}

#submarine { 
    width: 100px;
    background-color: #614344;
}

#destroyer { 
    width: 100px;
    background-color: #332c23;
}

.drag-over {
    background-color: #575a4b7c;
}

.hide {
    display: none;
}